.rellax {
    position: relative;
    padding: 39px 0 96px;
    z-index: 30;
    @media(max-width: 567px){
        padding: 11px 0 96px;
    }

    &__param{
        margin-bottom: 37px;
        border-radius: 8px;
        overflow: hidden;
        @media(min-width: 768px){
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        @media(max-width: 767px){
            margin-bottom: 31px;
        }
    }

    &__param-box {
        position: relative;
        width: 100%;
        background-color: #f6f6f6;
        padding: 8px;
        .rellax__param-find{
            @media(min-width: 768px){
                display: none;
            }
            @media(max-width: 767px){
                display: block;
                width: 100%;
                border-radius: 8px;
                padding: 16px 35px;
            }
        }
        @media(min-width: 768px){
            display: flex;
            align-items: center;
        }
        @media(max-width: 767px){
            padding: 8px 8px 16px;
        }
    }

    &__param-select{
        position: relative;
        max-width: 328px;
        width: 100%;
        margin-right: 8px;
        &::after{
            content: '';
            position: absolute;
            right: 28px;
            top: 50%;
            width: 0;
            height: 0;
            transform: translateY(-50%);
            border-top: 5px solid $gold;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            pointer-events: none;
            z-index: 10;
        }
        @media(max-width: 1200px){
            max-width: 260px;
        }
        @media(max-width: 767px){
            max-width: 100%;
            margin-bottom: 8px;
        }
    }

    &__param-select--people{
        max-width: 392px;
        width: 100%;
        &::after{
            content: '';
            width: 20px;
            height: 22px;
            top: 50%;
            right: 13px;
            transform: translateY(-50%);
            border: none;
            background-image: url('../img/rellax/subfact.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        @media(max-width: 1200px){
            max-width: 245px;
        }
        @media(max-width: 767px){
            max-width: 100%;
            margin-bottom: 16px;
        }
    }

    &__param-kind {
        width: 100%;
        font-family: 'EuclidCircularB', sans-serif;
        font-weight: 300;
        font-size: 16px;
        padding: 19px 24px 19px 15px;
        line-height: 24px;
        color: #333;
        cursor: pointer;
        outline: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: 1px solid #e3e3e3;
    }

    &__param-kind::-ms-expand{
        display: none;
    }

    &__param-date {
        display: block;
        max-width: 264px;
        width: 100%;
        font-family: 'EuclidCircularB', sans-serif;
        font-weight: 300;
        font-size: 16px;
        padding: 19px 11px 19px 15px;
        line-height: 24px;
        color: #333;
        cursor: pointer;
        outline: none;
        border: 1px solid #e3e3e3;
        margin-right: 8px;
        @media(max-width: 1200px){
            max-width: 260px;
        }
        @media(max-width: 767px){
            max-width: 100%;
            margin-bottom: 8px;
            padding: 18px 19px 17px 15px;
        }
    }

    &__param-people {
        outline: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: 1px solid #e3e3e3;
        width: 100%;
        font-family: 'EuclidCircularB', sans-serif;
        font-weight: 300;
        font-size: 16px;
        padding: 19px 24px 19px 15px;
        line-height: 24px;
        color: #333;
        cursor: pointer;
        outline: none;
        @media(max-width: 1200px){
            padding: 19px 40px 19px 15px;
        }
    }

    &__param-people::-ms-expand {
        appearance: none;
    }

    &__param-find {
        font-weight: 300;
        font-size: 24px;
        line-height: 32px;
        color: $white;
        background-color: $dark;
        padding: 24px 35px;
        transition: background-color .3s ease-in-out;
        &:hover{
            background-color: darken($dark, 8%);
        }
        @media(max-width: 767px){
            display: none;
        }
    }

    &__offers {
        position: relative;
        .swiper-button-prev,
        .swiper-button-next{
            top: 15px;
            width: 40px;
            height: 40px;
            background-color: transparent;
            transition: background-color .3s ease-in-out;
            &:hover{
                background-color: rgb(219, 219, 219);
            }
            &:after{
                display: none;
            }
            @media(max-width: 630px){
                display: none;
            }
        }
        .swiper-button-prev{
            left: auto;
            right: 56px;
        }
        .swiper-button-next{
            transform: rotate(180deg);
            right: 0;
        }
    }

    &__tabs {
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
        border-bottom: 1px solid rgba($dark, .08);
        @media(max-width: 567px){
            margin-bottom: 31px;
        }
    }

    &__tabs-wrapper {
        display: flex;
        width: 495px;
        white-space: nowrap;
        overflow-x: auto;
    }

    &__tabs-pagination {
        display: flex;
        align-items: center;
    }

    &__tabs-btn {
        position: relative;
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        background-color: transparent;
        padding-bottom: 8px;
        transition: color .3s ease-in-out;
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $btn;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
        }
        &+&{
            margin-left: 49px;
        }
    }

    .js-rellax-btn{
        &.active{
            color: $btn;
            transition: color .3s ease-in-out;
            &::before{
                transform: scaleX(1);
            }
        }
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba($gold, 0);
        border-radius: 8px;
    }
}
