.burger {

    &__media-box{
        position: relative;
        padding: 31px 0 0 83px;
        @media(min-width: 768px){
            display: flex;
        }
        @media(max-width: 767px){
            padding: 0;
        }
    }

    &__media {
        position: absolute;
        bottom: 48px;
        left: 0;
        padding-top: 32px;
        background-color: $background;
        z-index: 10;
        @media(max-width: 767px){
            display: none;
        }
    }

    &__media-list {
        padding: 0 33px 0 60px;
    }

    &__media-item {
        &+&{
            margin-top: 32px;
        }
    }

    &__media-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border: 1px solid $gold;
        border-radius: 50%;
    }

    &__media-img{
        display: block;
    }
}
