.burger {

    &__submenu-list {
        position: relative;
        padding: 0 17px 0 56px;
        border-left: 1px solid rgba($gold, .24);
        margin-top: -6px;
        max-height: 552px;
        overflow-y: auto;
        @media(max-width: 1330px){
            max-width: 370px;
        }
        @media(max-width: 1100px){
            max-width: 100%;
            flex: 0 1 50%;
        }
        @media(max-width: 950px){
            flex: 0 1 100%;
        }
        @media(max-width: 767px){
            padding: 0 15px;
            border-left: none;
            margin: 0;
        }
    }

    &__submenu-item {
        @media(max-width: 767px){
            border-bottom: 1px solid rgba($gold, .08);
        }
    }

    &__submenu-fall {
        display: flex;
        flex-direction: column;
        padding: 9px 0 34px 55px;
        max-width: 390px;
        opacity: 0;
        pointer-events: none;
        transition: opacity .2s ease-in-out;
        @media(max-width: 1330px){
            max-width: 300px;
            padding-left: 20px;
            padding-right: 10px;
        }
        @media(max-width: 1100px){
            display: none;
        }
    }

    &__submenu-fall-item {
        padding: 0 90px 0 0;
        &+&{
            margin-top: 32px;
        }
        &:last-child{
            font-size: 16px;
            font-weight: 300;
            margin-top: auto;
            padding: 0;
            line-height: 24px;
            color: $white;
            opacity: 48%;
        }
    }

    &__submenu-fall-item--info{
        
    }

    &__submenu-fall-link {
        font-size: 24px;
        font-weight: 300;
        line-height: 32px;
        color: $white;
        transition: color .3s ease-in-out;
        &:hover{
            color: $gold;
        }
    }

    &__submenu-link {
        display: block;
        font-size: 24px;
        font-weight: 300;
        line-height: 32px;
        padding: 15px 18px 17px 24px;
        border-radius: 8px;
        color: $white;
        transition: background-color .3s ease-in-out;
        &:hover{
            background-color: rgba($gold, .16);
        }
        @media(max-width: 767px){
            margin: 0 -15px;
            padding: 13px 18px 10px 16px;
        }
        @media(max-width: 576px){
            font-size: 20px;
        }
    }
}

.js-medical{
    position: relative;
    &::after{
        position: absolute;
        content: '';
        top: 30px;
        right: 31px;
        transform: translateY(-50%) rotate(45deg);
        width: 10px;
        height: 10px;
        border: 3px solid rgba($white, .24);
        border-left: none;
        border-bottom: none;
        pointer-events: none;
        @media(max-width: 767px){
            right: 7px;
        }
    }
    .hidden-menu{
        @media(min-width: 1101px){
            display: none;
        }
        padding: 24px 17px;
        display: none;
        &.visible{
            display: block;
        }
        li{
            max-width: 253px;
        }
        li+li{
            margin-top: 16px;
        }
        a{
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: $white;
            transition: color .3 ease-in-out;
            &:hover{
                color: $gold;
            }
        }
    }
}

.js-burger__submenu-fall{
    &:hover{
        opacity: 1;
        pointer-events: auto;
    }
    &.active{
        opacity: 1;
        pointer-events: auto;
    }
}
